body {
    color: darkblue;
    background-color: rgb(238, 233, 220);
}

h1 {
    text-align: center;
}

#HeightAndWidth {
    margin-left: 10%;
    float: left;
    width: 20%;
}

#HeightAndWidth table {
    width: 80%;
}

#Borders {
    width: 50%;
    margin-left: 10%;
    float: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    float: left;
}

.example {
    float: left; /* Float the example div to the left */
    width: 50%; /* Set a width to ensure it doesn't overflow */
    border: solid blue 1px;
    padding-left: 12px;
    margin-top: 10px;
    margin-right: 60px;
    background-color: rgb(183, 227, 241);
}

#Borders .example {
    width: 25%;
}

.content-wrapper {
    overflow: hidden; /* Clear floats within this wrapper */
}

th, td {
    border: 1px solid blue;
    padding: 5px 8px;
}

body {
    overflow: auto;
}

.subject {
    float: left;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.indented {
    padding-left: 40px; /* Indents content inside the div */
}

#Padding {
    margin-left: 7%;
    float: left;
    margin-top: 3%;
}

#PaddingShorthand {
    margin-left: 8%;
    margin-top: 3%;
}

.code {
    background-color: rgb(183, 227, 241);
    font-family: monospace;
}

.example p {
    font-family: monospace;
}